/* =====================================================================================
 *
 *
 * Fonts, contains all font related definitions, no colors.
 *
 */


/* -------------------------------------------------------------------------------------
/* Font */

body,
th,
td {
	font-family: Calibri, sans-serif /* Verdana, Sans-serif */;
}

th {
        font-size:1.1em;
}

div#title p {
	margin: 0;
	padding-left: 20px;
        padding-top: 40px;
	font-family: monospace /* Times, Sans-serif */;
	font-weight: bold;
	font-size: 46px;
}

div#title #subtitle {
    padding-top: 0px;
    font-size: 20px;
}

#nav {
	font: 1em/2 Calibri, sans-serif /* Verdana, Sans-serif */;
}

footer p {
	margin: 0;
	padding: 3px;
	font-size: x-small;
}

div#bottom p {
	margin: 0;
	padding: 0;
	font-style: italic;
	font-size: x-small;
}

body,
p,
td,
h3.columnMenu {
	font-size: small;
}

div#body h1 {
	/* text-transform: uppercase; */
	border-bottom: solid #565656 1px;
}

h2 { }
h3 { }

p.small {
	font-size: x-small;
}

div#loginbar p {
	margin: 0;
	padding: 0;
	font-size: x-small;
}

div#infobar p {
	margin: 0;
	padding: 0;
	font-size: x-small;
}

/* Font för PPictureUserInterest.php */
div.folderHeader {
    font-size: 20px;
}