/* =====================================================================================
 *
 *
 * All definitions related to navigation bar,
 * except fonts, colors and background images (except borders).
 *
 *
 */


/* -------------------------------------------------------------------------------------
/* Navigation bar */

#nav {
	clear: both;
	padding-top: 3px;
	font: 1em/2 Verdana, Sans-serif;
}
#nav ul {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
#nav li {
	display: inline;
	margin: 0;
	padding: 0;
}
#nav a {
	display: block;
	float: left;
	padding: 0 12px;
	text-decoration: none;
}
#nav a:hover,
#nav a:focus {}
#nav .sel a {}
#nav .sel a:hover,
#nav .sel a:focus {}

/*
 * Left Side navigation menu
 */
#navigation {font-size:0.75em;}
#navigation ul {margin:0px; padding:0px; background:#666;}
#navigation li {list-style: none;
border-bottom: #fff solid;
 border-top: #fff solid;
 border-width: 1px;
}

#navigation a {
 color: #fff;
 cursor: pointer;
 display:block;
 height:25px;
 line-height: 25px;
 text-indent: 10px;
 text-decoration:none;
 width:100%;
}
#navigation a:hover, #navigation a.sel {
 text-decoration:none;
}

#navigation li:hover, #navigation a.sel {
 background: #f90;
 position: relative;
}

#navigation .row a {
    color: #000;
}

#navigation .row.all a {
    color: #A65C00;
    font-weight: bold;
}

#navigation .row.selected a {
    font-size: 17px;
}