/* =====================================================================================
 *
 * Style: plain
 *
 * A very simple and easy to learn stylesheet. It supports 1, 2 and 3 columns and
 * various widths and liquid layout.
 *
 */

@import url("nav.css");   		/* definitions to navigation menu bar */
@import url("font.css");  		/* all font related definitions  */
@import url("color.css"); 		/* all color related definitions */
@import url("login.css"); 		/* standard login div and related */
@import url("dialog.css"); 		/* for displaying dialogs */
@import url("boxes.css"); 		/* for displaying boxes */


/* -------------------------------------------------------------------------------------
/* Pagestructure and general container divs */

html,
body {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

html {
    overflow-y: scroll;
}

div#wrap {												/* wraps all divs of page */
    margin: 0 auto;
    padding: 0;
    min-width: 600px;
    max-width: 1100px;
}

div#top {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    padding-bottom: 5px;
    height: 20px;
}

header {												/* wraps all header related divs */
    margin: 0;
    padding: 10px 0 0 0;
}

div#title {
    margin: 0 10px 0 10px;
    padding: 0;
    height: 200px;
}

#nav {
    margin: 0 10px 0 10px;
}

div#body {
    margin: 0;
    padding: 0;
    margin: 0 10px 5px 10px;
}

footer {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0;
}

div#bottom {
    margin: 0;
    padding: 0;
    padding-top: 4px;
}


/* -------------------------------------------------------------------------------------
/* Special divs */

div.sidebox {
    margin: 0;
    padding: 0;
}

div#loginbar {
    float: right;
    margin: 0;
    padding: 0;
    text-align: right;
}

div#infobar {
    float: left;
    margin: 0;
    padding: 0;
    text-align: left;
}


/* -------------------------------------------------------------------------------------
 * divs within #body, supporting felxible 1,2,3 column liquid layout
 *
 */

/* Container column spans content column */
div#container_LMR,
div#container_MR { width: 100%; float: left; margin-right: -250px; }
div#container_LM,
div#container_M { width: 100%; float: left; margin-right: -0px; }

/* Content column spans left & main column */
div#content_LMR,
div#content_MR { margin-right: 250px; }
div#content_LM,
div#content_M { margin-right: 0px; }

/* The left column */
div#left_LMR,
div#left_LM  {
    float: left;
    width: 190px;
}

/* The right column */
div#right_LMR,
div#right_MR {
    float: right;
    width: 250px;
    padding-top: 13px;
}

/* The main column */
div#main_LMR,
div#main_LM { margin-left: 200px;  margin-right: 10px;}
div#main_MR,
div#main_M { margin-left: 10px; margin-right: 10px;}

/* Clearer */
div.clear {
	height: 0;
	clear: both;
}

.clearer {
    clear: both;
}

p.last {
	margin-bottom: 0;
}


/* -------------------------------------------------------------------------------------
 * pageBody supporting 1, 2, 3 column layout
 *
 */
/*
div.pageBody {
	background-color: white;
	border: dashed #333333 1px;
	margin-top: 10px;
}

div.pageBodyLeft2, div.pageBodyLeft3  {
    float: left;
    padding: 10px;
    background-color: springgreen;
}

div.pageBodyLeft2  {
    width: 160px;
}

div.pageBodyLeft3  {
    width: 140px;
}

div.pageBodyRight2, div.pageBodyRight3 {
    float: right;
    padding: 10px;
    background-color: steelblue;
}

div.pageBodyRight2 {
    width: 160px;
}

div.pageBodyRight3 {
    width: 140px;
}

div.pageBodyMain1, div.pageBodyMain2, div.pageBodyMain3 {
    float: left;
    width: 408px;
    padding: 10px;
    background-color: darksalmon;
}

div.pageBodyMain1 {
    width: 728px;
}

div.pageBodyMain2 {
    width: 548px;
}

div.pageBodyMain3 {
    width: 408px;
}
*/

/* -------------------------------------------------------------------------------------
 *
 * Other functional divs, not part of the main structure of the website
 *
 */

div.errorMessage {
	border: #333333 4px dashed;
	padding: 5px;
	margin: 5px;
	text-align: center;
}

/* To display code. */
fieldset.code {}


/* -------------------------------------------------------------------------------------
 *
 * Fonts
 *
 */
p.small {}

div#title p {
	text-align: left;
}

footer p {
	text-align: center;
}

div#bottom p {
	text-align: center;
}


/* -------------------------------------------------------------------------------------
 *
 * Links
 *
 */

a, a:visited {}
a:hover {}

/* -------------------------------------------------------------------------------------
 *
 * Display source code
 *
 */
div.sourcecode {
	border: 4px solid #eeeeee;
	overflow: auto;
	background: white;
	padding-left: 10px;
}


/* -------------------------------------------------------------------------------------
 *
 * Tables
 *
 */
 
.disImgTable {
    border-collapse: collapse;
    width: 500px;
}

.disImgTable td span:first-child {
    margin: 4px 0 1px 0;
}

.disImgTable td, .disImgTable th, .disImgTable table {
    border: 1px solid;
}

.disImgTable td, .disImgTable th {
    padding:5px 7px 2px 7px;
}

.disImgTable th {
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
}

.disImgTable td.delCol {
    text-align:center;
    padding-left: 0;
    padding-right: 2px;
}

.disImgTable th.knapp {
    text-align: center;
    width: 30px;
    background-color:transparent;
    border-top: 1px transparent solid;
    border-right: 1px transparent solid;
}

.disImgTable th.knapp input {
    margin-right: 5px;
}

.disImgTable th.antal {
    width: 46px;
}

.disImgTable th.thumb {
    width: 80px;
}

.disImgTable td.folderName {
    width: 200px;
}

.userInterest {
    border-collapse: collapse;
    width:100%;
    margin-bottom: 20px;
}

.userInterest td {
    padding:0 7px 0 7px;
}

.userInterest th {
    padding:3px 7px 2px 7px;
}

.userInterest .thumb {
    padding-top: 3px;
    width: 80px;
}

.userInterest tr.users td {
    font-weight: bold;
}

.userInterest th {
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
}

img {
    border: 0;
}